@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @* create a div class in tailwind that is a stylish box *@
    <div class="bg-blue-500 text-white font-bold rounded-lg border shadow-lg p-10">
        <p>tailwind OR is a utility-first CSS framework for rapidly building custom designs.</p>
    </div>
</div>
